<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Introdução do NODE</title>
    </head>
    <body>
        <h1> Detalhe do cliente <%=cliente.nome%> </h1>
        <ul>
            <li>Nome do cliente: <%=cliente.nome%> </li>
            <li>Email do cliente: <%=cliente.email%></li>
        </ul>
    </body>
</html>